* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#fff;
    --background: #f2f3f5;
    --gray-line: #dcdde0;
    --text: #666;
    --text-highlight: #b3b9ff;
    --title: #2e384d;
    --red: #d43751;
    --green: #F856A2;
    --blue: #ff8541;
    --blue-dark: #e76f2e;
    --blue-twitter: #2aa9e0;
}

@media(max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button {
    font: 400 1rem "Inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
